body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eff8fc;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .container{
    padding: 50px;
    margin: auto;
    width: 50%;
  }
  .data-grid{
    height: 400px; 
    width: "50%";
  }
  .pagination-top{
    background-color: #ffffff;
    display: "flex";
    flex-direction: column-reverse !important;
  }
  
  